* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

body {
    font-family: Poppins;
}

.hero {
    background-image: linear-gradient(190deg, rgba(43, 40, 40, 0.43), rgba(22, 21, 21, 0.68)), url(../img/hero/dinner.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 570px;
}

.hero-container {
    display: grid;
}

#header-top {
    margin-top: 10px;
}

.navbar-desktop {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 10% 1fr 230px;
}

.navbar-desktop .logo {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 100px 200px;
    justify-content: center;
    align-items: center;
    grid-gap: 10px;
}

.logo>img {
    width: 100%;
    border-radius: 50%;
}

.brand-name {
    font-size: 52px;
    color: white;
    text-shadow: 3px 3px #2d29292b;
}

.navbar-desktop .left .link {
    list-style-type: none;
    display: grid;
    grid-auto-flow: column;
    align-items: center;
}

.navbar-desktop .left {
    display: grid;
    align-items: center;
    margin-right: 10px;
}

.link li {
    justify-self: center;
}

li a {
    color: white;
    font-size: 20px;
}

.left .link .signup {
    background-color: white;
    border-radius: 50px;
    padding: 8px 16px;
}

.signup a {
    color: rgb(73, 73, 73) !important;
}

.link .signup:hover {
    background-color: rgb(247, 247, 247);
}

/* -------- hero text -------------*/

.hero-text {
    text-align: center;
    font-size: 30px;
    margin-top: 80px;
    color: rgb(255, 255, 255);
    text-shadow: 3px 2px 6px #00000075;
}

.go {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.btn {
    padding: 8px 20px;
    background: rgb(37, 198, 75);
    border-radius: 2px;
    transition: all .2s ease;
}

.btn:hover {
    background: rgb(25, 156, 56);
}

span.btn-text {
    font-size: 22px;
    color: rgb(255, 255, 255);
}

span.arrow {
    position: relative;
    top: 5px;
    right: 1px;
    display: inline-block;
    transform: translateX(0);
    transition: transform .4s ease-out;
}

.btn:hover .arrow {
    transform: translateX(5px);
}

/* --- main content ---*/

.how {
    display: grid;
    grid-auto-flow: column;
    grid-gap: 40px;
    margin: 60px 60px 0 60px;
}

.card {
    display: grid;
    grid-template-rows: 300px auto;
    width: 350px;
    text-align: center;
}

.card span {
    padding: 12px 12px;
}

.card span h2 {
    color: #262121;
    font-size: 30px;
}

.card span p {
    color: #616668;
    font-size: 15px;
    font-weight: lighter;
    line-height: 24px;
}

.card>img {
    width: 100%;
}

.about {
    background-color: #eee;
}

footer {
    background-color: rgb(25, 25, 25);
    color: rgb(255, 255, 255);
    font-weight: lighter;
}

.wrapper.footer {
    margin-top: 0;
}

.wrapper {
    display: grid;
    grid-auto-flow: column;
    /* grid-template-columns: 50% 50%; */
    align-items: center;
    /* margin: 4em 3em 0 3em; */
    padding: 24px 24px;
}

@media only screen and (max-width: 768px) {
    .navbar-desktop .logo {
        grid-template-columns: 71px 200px !important;
    }

    .navbar-desktop .left {
        margin-right: 0;
        margin-left: 8px;
    }

    .navbar-desktop {
        grid-auto-flow: row;
        grid-template-columns: none !important;
    }

    .navbar-desktop .left {
        margin-top: 15px;
    }

    .hero-text {
        margin-top: 15px;
    }

    .hero-text h1 {
        line-height: 67px;
    }

    .how {
        grid-auto-flow: row;
        margin: 0 0 60px 0;
        justify-content: center;
    }

    .wrapper {
        grid-auto-flow: row;
    }
}
