{% load static %}
<!DOCTYPE html>
<html lang="en" ng-app="feasta">

<head>
    <base href="/">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="#86deff">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet">
    <script src="{% static 'app/lib/angular.js' %}" type="application/javascript"></script>
    <script src="{% static 'app/lib/jquery.min.js' %}" type="application/javascript"></script>
    <script src="{% static 'app/lib/angular-route.js' %}" type="application/javascript"></script>
    <script src="{% static 'app/app.module.js' %}" type="application/javascript"></script>
    <script src="{% static 'app/controller/getMessController.js' %}" type="application/javascript"></script>
    <script src="{% static 'app/controller/getMenuController.js' %}" type="application/javascript"></script>
    <link rel="stylesheet" href="{% static 'css/base.css' %}" type="text/css">
    <link rel="icon" href="{% static 'img/logo/logo1.png' %}">
    <title>Feasta</title>
</head>

<body>
    <ng-view></ng-view>
    <footer>
        <div class="wrapper footer">
            <p>&copy; 2020 Feasta All rights reserved.</p>
        </div>
    </footer>
</body>
</html>
