{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Poppins:600&display=swap" rel="stylesheet"> 
    <title>Feasta</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}">
</head>
<body>
    <header>
        <nav class="navbar">
            <div class="navbar--head">
                <div class='heading'>
                    <a href="{% url 'home' %}" class="text">Feasta</a>
                </div>
                <div class="searchbar">
                    <input type='search' class="search" placeholder="Search..." />
                    <button class='searchbtn'><img src="{% static 'img/search.png' %}" class="icon"></button>
                </div>
            </div>
            <div class="topnav">
                <div class="links">
                    <li>
                        <a href="{% url 'home' %}">
                            <img class="icons" src="{% static 'img/home-2.png' %}">
                            <img class="icons-h" src="{% static 'img/home-1.png' %}">
                            <span>Home</span>
                        </a>
                    </li>
                    <li>
                        <a href="admin/">
                            <img class="icons" src="{% static 'img/home-2.png' %}">
                            <img class="icons-h" src="{% static 'img/home-1.png' %}">
                            <span>Admin</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'mess-api-view' %}">
                            <img class="icons" src="{% static 'img/home-2.png' %}">
                            <img class="icons-h" src="{% static 'img/home-1.png' %}">
                            <span>Mess-Api View</span>
                        </a>
                    </li>
                    <li>
                        <a href="{% url 'menu-api-view' %}">
                            <img class="icons" src="{% static 'img/home-2.png' %}">
                            <img class="icons-h" src="{% static 'img/home-1.png' %}">
                            <span>Menu-Api View</span>
                        </a>
                    </li>
                </div>
                <div class='nav--right'>
                    <a href="{% url 'register' %}" value='Sign up' class='login'>Sign up</a>
                    <a href="{% url 'login' %}" value='Login' class='login'>Login</a>
                </div>
            </div>
        </nav>
    </header>
    {% block content %}
    {% endblock content %}
    <!-- <div>
        Hungry?
        See what has been cooked in nearby mess.
        Choose your favourite Menu and then head towards the mess.
    </div> -->
</body>
</html>